<a href="/event/{{id}}">
    <div>
        <div>{{title}}</div>
        <div>{{getFormattedStamp start_date timezone "dateTime" true}}</div>
        <div>{{getFormattedStamp end_date timezone "dateTime" true}}</div>
    </div>
</a>