<header>
      <div class="header-left">
        <img src="../assets/images/logo.png" alt="Gaming Event Hub Logo" />
        <h1>Gaming Event Hub</h1>
      </div>
      <nav class="header-right">
        <button>Home</button>
        <button>Events</button>
        <a href="../create-event.html" class="button">Create Event</a>
        <a href="/login" class="button">Register or Sign-in!</a>
      </nav>
</header>