<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaming Event Hub</title>
    <link rel="stylesheet" href="../../public/css/styles.css">
</head>
<body>
    <header>
        <div class="header-left">
            <img src="../../assets/images/logo.png" alt="Gaming Event Hub Logo">
            <h1>Gaming Event Hub</h1>
        </div>
        <nav class="header-right">
            <button>Home</button>
            <button>Events</button>
            <a href="../create-event.html" class="button">Create Event</a>
            <a href="../register-signin.html" class="button">Register or Sign-in!</a>
        </nav>
    </header>
</body>
</html>