<footer class="fixed right-0 bottom-0 p-6 text-sm text-center md:text-right fade-in bg-slate-50 w-full">
    &copy; <a class="text-blue-600 no-underline hover:no-underline" href="testingemail">project</a> 2024 - edX
</footer>