<section class="flex-grow-1">
    {{!-- Upcoming events--}}
    <div>
        {{#if events}}
            {{#each events as |event|}}
            {{> event-tile}}
            {{/each}}
        {{else}}
        No events found
        {{/if}}
    </div>
    {{!-- User profile/quick actions --}}
    {{#if logged_in}}
    <div class="flex-column">
        <div>
            {{!-- Profile settings --}}
        </div>
        <div>
            {{!-- Quick actions (Add event/add game) --}}
        </div>
    </div>
    {{/if}}
</section>