* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

#createEvent {
  padding: 10px;
  display: flex;
  background: url(../../assets/images/banner.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
}

.createEventBtn {
  background: linear-gradient(to right, #ff105f, #ffad06);
  margin-left: auto;
  margin-right: auto;
}

form {
  /* background: #fff; */
  /* width: 450px; */
  /* border-radius: 10px; */
  /* box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12); */
}

h1 {
  size-adjust: 36px;
  font-size: 30px;
  height: 36px;
}

h2 {
  margin-bottom: 15px;
}

/* header h1 {
margin: 0;
padding-bottom: 20px;
} */

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}


.event-card {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.event-card h3 {
  margin-top: 0;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #555;
}

button:hover {
  background-color: #555;
}

form label {
  display: block;
  margin-bottom: 5px;
  padding-left: 5px;
}

form input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-items: center;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.header-left h1 {
  margin: 0;
}

.header-right button {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 8px 15px;
  margin-left: 10px;
  cursor: pointer;
}

.header-right button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

/* .header-left img {
  padding-top: 10px;
} */

/* .carousel {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
} */

.carousel li {
  list-style: none;
}

.carousel ul {
  display: flex;
  flex-wrap: wrap;
}

.event-card {
  flex: 0 0 auto;
  min-width: 300px; /* Adjust as needed */
  padding: 20px;
  margin-right: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  scroll-snap-align: start;
}

.controls {
  margin-top: 20px;
  text-align: center;
  flex-wrap: wrap;
}

.controls button {
  background-color: #333;
  z-index: 2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0.25rem;
  text-align: center;
}

.controls button:hover {
  background-color: #555;
}

/* Add styles for the calendar */
/* #calendar {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.event {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
} */

.calendar-section {
  display: flex;
  background: #714b6b;
  min-height: 100vh;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
}

.calendar-container {
  background: #fff;
  width: 450px;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.calendar-container header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

article .calendar-navigation {
  display: flex;
}

article .calendar-navigation span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  /* user-select: none;  ??*/ /*i just comment this code out muhamad */
  color: #aeabab;
  font-size: 1.9rem;
}

.calendar-navigation span:last-child {
  margin-right: -10px;
}

article .calendar-navigation span:hover {
  background: #f2f2f2;
}

article .calendar-current-date {
  font-weight: 500;
  font-size: 1.45rem;
}

.calendar-body {
  padding: 20px;
}

.calendar-body ul {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
}

.calendar-body .calendar-dates {
  margin-bottom: 20px;
}

.calendar-body li {
  width: calc(100% / 7);
  font-size: 1.07rem;
  color: #414141;
}

.calendar-body .calendar-weekdays li {
  cursor: default;
  font-weight: 500;
}

.calendar-body .calendar-dates li {
  margin-top: 30px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.calendar-dates li.inactive {
  color: #aaa;
}

.calendar-dates li.active {
  color: #fff;
}

.calendar-dates li::before {
  position: absolute;
  content: '';
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
  background: #6332c5;
}

.calendar-dates li:not(.active):hover::before {
  background: #e4e1e1;
}

.exit-btn {
  background: linear-gradient(to right, #ff105f, #ffad06);
}



.event-box {
  width: 600px;
  margin: 0 auto;
  background: hsl(247.5deg 100% 89.96%);
  padding: 20px;
  text-align: center;
}
.create-event{
  width: 600px;
  margin: 0 auto;
  box-shadow: 2px 2px 8px #efefef;
  text-align: center;
  color: #818181;
  position: relative;
}

.event-header {
  background: #9b9b9b;
  padding: 20px;
  color: white;
  font-weight: bold;
}
.event-header .desciption{
  color: #555;
}

.carousel .carousel-item {
  width: 40px;
  height: 40px;
  background: #9b9b9b;
  margin: 20px;
  line-height: 40px;
  color: white;
  font-weight: bold;
  display: inline-block;
}

.carousel-left, .carousel-right {
  color: #9b9b9b;
  font-size: 35px;
  margin-top: 20px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  width: 34px;
  float: left;
}
.carousel-right{
  float: right;
}

.event-box ul li{
  color: #464646;
  list-style: none;
  margin-left: 30px;
  line-height: 30px;
}

.carousel {
    max-height: 138px;
    overflow: hidden;
}

.carousel .inner {
  width: 525px;
  display: inline-block;
  float: left;
  overflow: hidden;
  height: 60px;
}

.create-event h2 {
  width: 100%;
  border-bottom: solid 1px #323232;
  padding-bottom: 10px;
  line-height: 51px;
}

button.exit-button {
  position: absolute;
  right: 20px;
  background: transparent;
  color: #525252;
  font-size: 23px;
  background: gainsboro;
  width: 40px;
  height: 40px;
  top: 9px;
  padding: 0px;
}
.user-box img {
    width: 50px;
    border-radius: 25px;
    float: left;
}

.user-box h3 {
    float: left;
    margin-left: 15px;
    margin-top: 4px;
    color: #bdbdbd;
}

.user-box h4 {
  font-size: smaller;
  line-height: 25px;
  font-weight: 300;
  color: black;
  float: left;
  text-align: left;
  margin-left: 21px;
}

.user-box h4 {font-size: smaller;line-height: 25px;font-weight: 300;color: black;float: left;text-align: left;margin-left: 21px;}

.user-box {
    padding: 11px;
    display: block !important;
    clear: both;
    width: 100%;
}
input#eventTime {font-size: 30px;}

.event-name {
  width: 600px !important;
  float: left;
  text-align: left;
}

.event-name input {
  width: 560px;
  padding: 8px;
  margin-left: 10px;
}
.event-date div {
  width: 50%;
  display: inline-block;
  float: left;
}
.event-date {
  width: 97%;
  display: block;
  margin-top: 10px;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

#createEvent {
  padding: 10px;
  display: flex;
  background: url(../../assets/images/banner.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
}

.createEventBtn {
  background: linear-gradient(to right, #ff105f, #ffad06);
  margin-left: auto;
  margin-right: auto;
}

form {
  /* background: #fff; */
  /* width: 450px; */
  /* border-radius: 10px; */
  /* box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12); */
}

h1 {
  size-adjust: 36px;
  font-size: 30px;
  height: 36px;
}

h2 {
  margin-bottom: 15px;
}

/* header h1 {
margin: 0;
padding-bottom: 20px;
} */

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}


.event-card {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.event-card h3 {
  margin-top: 0;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #555;
}

button:hover {
  background-color: #555;
}

form label {
  display: block;
  margin-bottom: 5px;
  padding-left: 5px;
}

form input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-items: center;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.header-left h1 {
  margin: 0;
}

.header-right button {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 8px 15px;
  margin-left: 10px;
  cursor: pointer;
}

.header-right button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

/* .header-left img {
  padding-top: 10px;
} */

/* .carousel {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
} */

.carousel li {
  list-style: none;
}

.carousel ul {
  display: flex;
  flex-wrap: wrap;
}

.event-card {
  flex: 0 0 auto;
  min-width: 300px; /* Adjust as needed */
  padding: 20px;
  margin-right: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  scroll-snap-align: start;
}

.controls {
  margin-top: 20px;
  text-align: center;
  flex-wrap: wrap;
}

.controls button {
  background-color: #333;
  z-index: 2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0.25rem;
  text-align: center;
}

.controls button:hover {
  background-color: #555;
}

/* Add styles for the calendar */
/* #calendar {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.event {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
} */

.calendar-section {
  display: flex;
  background: #714b6b;
  min-height: 100vh;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
}

.calendar-container {
  background: #fff;
  width: 450px;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.calendar-container header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

article .calendar-navigation {
  display: flex;
}

article .calendar-navigation span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  /* user-select: none;  ??*/ /*i just comment this code out muhamad */
  color: #aeabab;
  font-size: 1.9rem;
}

.calendar-navigation span:last-child {
  margin-right: -10px;
}

article .calendar-navigation span:hover {
  background: #f2f2f2;
}

article .calendar-current-date {
  font-weight: 500;
  font-size: 1.45rem;
}

.calendar-body {
  padding: 20px;
}

.calendar-body ul {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
}

.calendar-body .calendar-dates {
  margin-bottom: 20px;
}

.calendar-body li {
  width: calc(100% / 7);
  font-size: 1.07rem;
  color: #414141;
}

.calendar-body .calendar-weekdays li {
  cursor: default;
  font-weight: 500;
}

.calendar-body .calendar-dates li {
  margin-top: 30px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.calendar-dates li.inactive {
  color: #aaa;
}

.calendar-dates li.active {
  color: #fff;
}

.calendar-dates li::before {
  position: absolute;
  content: '';
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
  background: #6332c5;
}

.calendar-dates li:not(.active):hover::before {
  background: #e4e1e1;
}

.exit-btn {
  background: linear-gradient(to right, #ff105f, #ffad06);
}



.event-box {
  width: 600px;
  margin: 0 auto;
  background: hsl(247.5deg 100% 89.96%);
  padding: 20px;
  text-align: center;
}
.create-event{
  width: 600px;
  margin: 0 auto;
  box-shadow: 2px 2px 8px #efefef;
  text-align: center;
  color: #818181;
  position: relative;
}

.event-header {
  background: #9b9b9b;
  padding: 20px;
  color: white;
  font-weight: bold;
}
.event-header .desciption{
  color: #555;
}

.carousel .carousel-item {
  width: 40px;
  height: 40px;
  background: #9b9b9b;
  margin: 20px;
  line-height: 40px;
  color: white;
  font-weight: bold;
  display: inline-block;
}

.carousel-left, .carousel-right {
  color: #9b9b9b;
  font-size: 35px;
  margin-top: 20px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  width: 34px;
  float: left;
}
.carousel-right{
  float: right;
}

.event-box ul li{
  color: #464646;
  list-style: none;
  margin-left: 30px;
  line-height: 30px;
}

.carousel {
    max-height: 138px;
    overflow: hidden;
}

.carousel .inner {
  width: 525px;
  display: inline-block;
  float: left;
  overflow: hidden;
  height: 60px;
}

.create-event h2 {
  width: 100%;
  border-bottom: solid 1px #323232;
  padding-bottom: 10px;
  line-height: 51px;
}

button.exit-button {
  position: absolute;
  right: 20px;
  background: transparent;
  color: #525252;
  font-size: 23px;
  background: gainsboro;
  width: 40px;
  height: 40px;
  top: 9px;
  padding: 0px;
}
.user-box img {
    width: 50px;
    border-radius: 25px;
    float: left;
}

.user-box h3 {
    float: left;
    margin-left: 15px;
    margin-top: 4px;
    color: #bdbdbd;
}

.user-box h4 {
  font-size: smaller;
  line-height: 25px;
  font-weight: 300;
  color: black;
  float: left;
  text-align: left;
  margin-left: 21px;
}

.user-box h4 {font-size: smaller;line-height: 25px;font-weight: 300;color: black;float: left;text-align: left;margin-left: 21px;}

.user-box {
    padding: 11px;
    display: block !important;
    clear: both;
    width: 100%;
}
input#eventTime {font-size: 30px;}

.event-name {
  width: 600px !important;
  float: left;
  text-align: left;
}

.event-name input {
  width: 560px;
  padding: 8px;
  margin-left: 10px;
}
.event-date div {
  width: 50%;
  display: inline-block;
}
.event-date {
  width: 96%;
  display: block;
  margin-top: 10px;
  margin: initial;
  padding-left: 10px;
  margin-top: 33px !important;
}
select {
  padding: 20px;
  width: 582px;
}
.invite-button {
  width: 583px;
  margin: 10px;
}