<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register or Sign-in!</title>
    <link rel="stylesheet" href="../public/css/register-signin.css" />
  </head>
  <body>
    <nav>{{ header }}</nav>
    <div class="hero">
      <div class="form-box">
        <div class="button-box">
          <div id="btn"></div>
          <button type="button" class="toggle-btn" onclick="signIn()">
            Sign In
          </button>
          <button type="button" class="toggle-btn" onclick="register()">
            Register
          </button>
        </div>
        <div class="social-icons">
          <img src="../assets/images/fb.png" />
          <img src="../assets/images/tw.png" />
          <img src="../assets/images/gp.png" />
        </div>
        <form id="signIn" class="input-group">
          <input
            type="text"
            class="input-field"
            placeholder="User ID"
            required
          />
          <input
            type="text"
            class="input-field"
            placeholder="Enter Password"
            required
          />
          <input type="checkbox" class="check-box" /><span
            >Remember Password</span
          >
          <button type="submit" class="submit-btn">Sign In</button>
          <hr class="rounded" />
          <button class="exit-btn" onclick="exit()">Exit</button>
        </form>
        <form id="register" class="input-group">
          <input
            type="text"
            class="input-field"
            placeholder="User ID"
            required
          />
          <input
            type="email"
            class="input-field"
            placeholder="Email ID"
            required
          />
          <input
            type="text"
            class="input-field"
            placeholder="Enter Password"
            required
          />
          <input type="checkbox" class="check-box" /><span
            >I Agree to the Terms & Conditions</span
          >
          <button type="submit" class="submit-btn">Register</button>
          <hr class="rounded" />
          <button class="exit-btn" onclick="exit()">Exit</button>
        </form>
      </div>
    </div>

    <script>
      const x = document.getElementById('signIn');
      const y = document.getElementById('register');
      const z = document.getElementById('btn');

      function register() {
        x.style.left = '-400px';
        y.style.left = '50px';
        z.style.left = '110px';
      }

      function signIn() {
        x.style.left = '50px';
        y.style.left = '450px';
        z.style.left = '0px';
      }

      function exit() {
        window.location.href = './layout/index.html';
      }
    </script>
    {{footer}}
  </body>
</html>
