<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gaming Event Hub</title>
    <link rel="stylesheet" href="../public/css/styles.css" />
  </head>
  <body>
    <section id="createEvent" class="createEvent">
      <h2>Create an Event</h2>
      <form>
        <label for="eventName" id="eventName">Event Name:</label>
        <input type="text" id="eventName" name="eventName" required />

        <label for="eventDate">Event Date:</label>
        <input type="date" id="eventDate" name="eventDate" required />

        <label for="eventTime">Event Time:</label>
        <input type="time" id="eventTime" name="eventTime" required />

        <label for="eventLocation">Event Location:</label>
        <input type="text" id="eventLocation" name="eventLocation" required />

        <label for="gameTitle">Game Title:</label>
        <input type="text" id="gameTitle" name="gameTitle" required />
        <div>
          <button class="createEventBtn" type="submit">Create Event</button>
          <button class="exit-btn" onclick="exit()">Exit</button>
        </div>
      </form>
    </section>
    <script src="./public/scripts/script.js"></script>
    <script>
      function exit() {
        window.location.href = './layout/index.html';
      }
    </script>
  </body>
</html>
